
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Marhey", sans-serif;
    font-weight: 300;
    color: white !important;
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    /* height: 100vh; */
} 
.main{

    width: 50%;
    background-image: url(./2.jpg);
    background-attachment: fixed;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 20px;
    
}

#tasks{
    max-height: 600px;
    overflow-y: auto;
}
.title{
    background-color: hsla(0, 0%, 0%, 0.304);
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: white;
    border-bottom: 3px solid black;
    font-size: 20px;
    position: relative;
    
    
}

.btn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 30px;
    border: none;
    cursor: pointer;
    
}
.btn:active{

    scale:  1.1;
    /* box-shadow: inset 0 0 5px 3px black; */
}
.add-btn{
    
    height: 40px !important;
    width: 40px !important;
    position: absolute;
    top:19px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.task{
    display: flex;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.304); */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    padding: 10px;
    margin: 15px;
    border-bottom: 3px solid black ;
    border-right: 3px solid black ;
    transition: all 0.3s ease-in-out;
}
.done{
    backdrop-filter: blur(1px);
    background-color: #eeeeee11;
}
.task h2{
    font-size: 18px;
    margin-bottom: 7px;
}
.task span{
    font-size:14px ;
}

.date{
    display: flex;
    align-items: center;
    gap: 10px
}
.task:hover{
    box-shadow: 0 3px 15px rgba(255, 250, 250, 0.527);
    scale: 1.003;

}
.info{
    width: 70%;
    overflow-x: auto;
    
    
}
.action{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media (max-width:1024px) {
    .main{
        width: 95%
    }

    .btn{
        height: 23px;
        width: 23px
    }

    .add-btn{
    
        top:15px;
        height: 32px !important;
        width: 32px !important;
        font-size: 20px;

    }

    .task{
        padding: 5px;
        margin: 10px;
    }

    .btn img{
        height: 13px;
        width: 13px;
        
    }
    /* .add-btn{
        margin-top: 0;
    } */

    
    .title{
        font-size: 14px;
    }

    .info h2{
        font-size: 12px;
    }

    .info span{
        font-size: 11px;
        color: #bbb;
    }
    span img{
        height: 18px;
        width: 18px;
    }

    .content{
        margin-top: 50px;
    }

    .info{
        width: 60%;
    
    
    }
    .action{
        width: 40%;
    
    }
    .date{
        gap: 7px;
    }

}





















