
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Cairo", sans-serif;
    /* font-family: "SN Pro", sans-serif; */
    font-weight: 300;
    color: white !important;
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    /* height: 100vh; */

} 
.main{

    width: 50%;
    background-image: url(./2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */

    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 20px;


    
}

#noData{
text-align: center;
margin-top: 17px;
color: #bbb;
font-size: 18px;
font-weight: 500;

}

#tasks{
    max-height: 600px;
    overflow-y: auto;
}
.head{
    background-color: hsla(0, 0%, 0%, 0.404);
    width: 100%;
    /* text-align: center; */
    padding: 5px 0;
    color: white;
    border-bottom: 3px solid black;
    font-size: 20px;
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 0;
    height: 50px;
    
    
}

.head .title{
    font-size: 25px;
    font-weight: bold;
}
.head .title span{
    font-size: 25px;
    color: #bbb;
}

.head .left{
    display: flex;
    width: 60%;
    /* margin-right: auto; */
    height: 100%;
}
.head .left input{
    width: 100%;
    background-color: transparent;
    outline: none;
    padding: 0 15px;
    height: 100%;
    border: none;
    color: #fff;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
    
    
    
}

.btn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 30px;
    border: none;
    cursor: pointer;
    
}
.btn:active{

    scale:  1.1;
    /* box-shadow: inset 0 0 5px 3px black; */
}
.add-btn{
    
    height: 100% !important;
    width: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    background-color:rgb(77, 76, 76);
    color: #fff;
    

}
.task{
    display: flex;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.304); */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    padding: 10px;
    margin: 15px;
    border-bottom: 3px solid black ;
    border-right: 3px solid black ;
    transition: all 0.3s ease-in-out;
}
.done{
    backdrop-filter: blur(1px);
    background-color: #eeeeee11;
}
.task h2{
    font-size: 18px;
    margin-bottom: 7px;
}
.task span{
    font-size:14px ;
}

.date{
    display: flex;
    align-items: center;
    gap: 10px
}
.task:hover{
    box-shadow: 0 3px 15px rgba(255, 250, 250, 0.527);
    scale: 1.003;

}
.info{
    width: 70%;
    overflow-x: auto;
    
    
}
.action{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media (max-width:1024px) {
    .main{
        width: 95%
    }

    .btn{
        height: 23px;
        width: 23px
    }

    

    .task{
        padding: 5px;
        margin: 10px;
    }

    .btn img{
        height: 13px;
        width: 13px;
        
    }
    .add-btn{
        font-size: 25px;
    }

    .head .left{
        width: 70%;
    }
    .head .title{
        font-size: 19px;
    }
    .head .title span{
        font-size: 16px;
    }
    .head .left input{
        font-size: 14px;
    }

    .info h2{
        font-size: 12px;
    }

    .info span{
        font-size: 11px;
        color: #bbb;
    }
    span img{
        height: 18px;
        width: 18px;
    }

    .content{
        margin-top: 50px;
    }

    .info{
        width: 60%;
    
    
    }
    .action{
        width: 40%;
    
    }
    .date{
        gap: 7px;
    }

}





















